<div class="container mx-auto py-2">
  <%= simple_form_for [ @booking ] do |f| %>
    <%= f.input :total_price  %>
    <%= f.input :from, as: :datetime, html5: true %>
    <%= f.input :till, as: :datetime, html5: true  %>
    <%= f.submit "Confirm Rental", class: "btn btn-primary my-2" %>
  <% end %>
</div>