<section id="dashboard">
<div class="row py-2 px-5 mt-0">
    <div class="col-lg-12 col-md-12 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-5 pb-4 cover">
            <div class="media align-items-end profile-head">
              <div class="profile mr-3"><%= image_tag current_user.avatar, class:"img-fluid mb-2 img-thumbnail", style: "width: 130px;" %>
                <!-- Edit Profile section? -->
                <a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
              </div>
              <div class="media-body mb-5 text-white">
                <h4 class="mt-0 mb-0"><%= @user.first_name %> <%= @user.last_name %></h4>
                <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i><%= @user.location %></p>
              </div>
            </div>
          </div>
          <div class="bg-light p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block"><%= @user.bookings.count %></h5><small class="text-muted"> <i class="fas fa-list-alt mr-1"></i>Rentals</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block"><%= @user.bikes.count %></h5><small class="text-muted"> <i class="fas fa-bicycle mr-1"></i>Bikes</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
              </li>
            </ul>
          </div>

          <!-- About Section -->

          <div class="px-4 py-3">
              <h5 class="mb-1">About</h5>
              <div class="p-4 rounded shadow-sm bg-light">
                  <p class="font-italic mb-0"><%= @user.email %></p>
                  <p class="font-italic mb-0">Lives in <%= @user.location %></p>
                  <p class="font-italic mb-0"><%= @user.bio %></p>
              </div>
          </div>

      <!-- Display your own pending bookings -->
        <!-- Display current status -->

      <!-- Display bookings someone has made on your bikes -->
        <!-- Needs Accept/Reject button -->

      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Approve/Reject Bookings</h5>
        </div>

        <% @user.bikes.each do |bike| %>
        <% bike.bookings.each do |booking| %>
          <p> <i class="fas fa-clock"></i> Expires: <%= booking.till.strftime("%d/%-m/%Y") %></p>
          <!-- If user clicks on approve, refresh page and show a ✅ -->
          <%= link_to "Approve", booking_path(booking, status: "Approved"), method: :patch, :class => 'btn-sm btn-success'%>
          <%= link_to "Deny", dashboard_path, method: :patch, :class => 'btn-sm btn-danger'%>
          <% end %>
        <% end %>
      </div>

      <!-- Listings -->

      <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0">Recent Listings</h5><a href="#" class="btn btn-link text-muted">Show all</a>
          </div>
          <ul class="cards">
          <% @user.bikes.each do |bike| %>
            <li class="cards_item">
              <!-- Listing Card -->
              <div class="card">
                <!-- Card image -->
                <div class="card_image">
                  <%= image_tag bike.images[0], class:"img-fluid", style:"height: 500; width: 300;" %>
                </div>
                <!-- Card body -->
                <div class="card_content">
                  <h4 class="card_title mb-3"> <%= bike.name %> </h4>
                  <p><i class="fas fa-dollar-sign"></i> <%= bike.price %> </p>
                  <hr>
                  <%= link_to "More Info", bike_path(bike), class:"mb-2 btn btn-outline-dark"%>
                </div>
              </div>
          <% end %>
            </li>
          </ul>
      </div>
      <hr>

      <!-- Rentals/Bookings -->

      <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0">Recent Rentals</h5><a href="#" class="btn btn-link text-muted">Show all</a>
          </div>
          <ul class="cards">
          <% @user.bookings.each do |booking| %>
            <li class="cards_item">
            <div class="card">
              <!-- Card image -->
              <div class="card_image">
                  <%= image_tag booking.bike.images[0], class:"img-fluid", style:"height: 500; width: 300;" %>
              </div>
              <!-- Card body -->
              <div class="card_content">
                  <h4 class="card_title mb-3">Rented -
                      <%= booking.from.strftime("%d/%-m/%Y") %> -
                      <%= booking.till.strftime("%d/%-m/%Y") %>
                  </h4>
                  <!-- Avatar image and Review link -->
                  <%= image_tag booking.bike.user.avatar, class:"img-fluid mr-4", style: "height: 50px; width: 50px; border-radius: 50%;" %>
                  <%= link_to 'Add a review', new_booking_review_path(booking), class:"btn-sm btn-primary" %>

                  <!-- If booking has finished, don't show booking.status -->
                  <%# if booking.till.strftime("%d/%-m/%Y") < Time.now.strftime("%d/%-m/%Y") %>
                  <%= booking.status %>

              </div>
            </div>
          <% end %>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
</section>
