<!-- Header Container with Search Bar and Title -->
<div class="container-fluid header d-flex">
    <div class="page-header d-flex">
        <h1>Search for places to ride a <span>bike.</span></h1>
        <%= simple_form_for :search, url: bikes_path, method: :get do |f| %>
        <div class="search-form-control form-group">
            <input class="form-control string required" placeholder="E.g. Richmond, Victoria" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-dark mt-3">
                <i class="fas fa-search"></i> Search</button>
        </div>
        <% end %>
    </div>
</div>

<!-- Need to iterate through User Bike images (limit 8) -->


<!-- Image grid for popular bikes -->
<div class="container container-popular-bikes my-5">
    <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Popular Bikes</h3>
    <div class="row">
    <% @bikes.take(8).each do |bike| %>
        <div class="col-lg-3 col-md-4 col-6 card-bike-category p-1">
          <div class="card-overlay p-2">
            <p><%= bike.name %></p>
            <p>$<%= bike.price %> / hour </p>
            <%= link_to 'View', bike_path(bike), class:"btn-block btn-primary p-2 w-50 text-center" %>
          </div>
          <%= image_tag bike.images[0], class:"img-fluid w-100" %>
        </div>
        <% end %>
    </div>
</div>

<!-- Scrolling JS Map of good cycling spots in each city -->
<!-- Turn each card into a link to a new view -->

<!-- Destination Section -->


<section class="card-large-destination">
    <div class="container">
        <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Great Destinations</h3>
        <div class="row">
            <!--  Melbourne  -->
            <div class="column mb-3">
                <img src="https://source.unsplash.com/g0gHGCAMclI/500x550" class="img-fluid" alt="Melbourne" style="width:100%">
                <br>
                <h5>Melbourne</h5>
            </div>
            <!--  Sydney  -->
            <div class="column">
                <img src="https://source.unsplash.com/FUh6nK3s0po/500x550" class="img-fluid" alt="Sydney" style="width:100%">
                <br>
                <h5>Sydney</h5>
            </div>
            <!--  Perth  -->
            <div class="column">
                <img src="https://source.unsplash.com/7QLfUdaZbQw/500x550" class="img-fluid" alt="Perth" style="width:100%">
                <br>
                <h5>Perth</h5>
            </div>
            <!--  Byron Bay  -->
            <div class="column">
                <img src="https://source.unsplash.com/HzfFMa14VoU/500x550" class="img-fluid" alt="Byron Bay" style="width:100%">
                <br>
                <h5>Byron Bay</h5>
            </div>
        </div>
    </div>
</section>
