<div class="container-fluid m-0 p-0">
  <!--   start row  -->
  <div class="row p-0 m-0">
    <div class="col-lg-6 col-md-6 col-sm-12 p-0 m-0 ">
      <!-- Map on the left -->
      <div class="container-map">
        <!-- Need to put map in here -->
        <div id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
    <!-- Bikes on the right column -->
    <div class="col-lg-6 col-md-6 col-sm-12 p-2 ">
      <div class="container-bikes">
        <div class="row m-0">
          <% @bikes.each do |bike| %>
            <div class="col-md-6 border p-2 ">
              <div class="card card-bikes">
                <%= cloudinary_imgs(bike.images[0].key,bike) %>
                <div class="card-body">
                  <h5 class="card-title">
                    <%= bike.name %>
                  </h5>
                  <p class="card-text text-muted">
                    $
                    <%= bike.price %> / hour
                  </p>
                  <%= link_to "More Info", bike_path(bike) , class: "btn btn-outline-info" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
