<div class="container font-weight-light">
    <!--CAROUSEL -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <% @bike.images.each.with_index(0) do |post, index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index.zero? ? 'active' : '' %>"></li>
            <% end %>
        </ol>
        <div class="carousel-inner">
            <% @bike.images.each.with_index(0) do |bike, index| %>
            <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                <%= link_to "#" do %>
                <%= cloudinary_imgs_cara(bike.key,@bike) %>
                <% end %>
            </div>
            <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--NAME -->
    <div class="inner">
        <div class="name m-3">
            <h3><strong>
                    <!--               <i class=" mr-5 fas fa-bicycle"></i>
 -->
                    <%= @bike.name  %></strong></h3>
        </div>
        <div class="name-avail text-center">
            <div class="avail">
                <% if @bike.available == true %>
                <h6 style="color:##2ECC40">Bike is available</h6>
                <% else %>
                <h6 style="color:#FF4136">Bike is unavailable</h6>
                <% end %>
            </div>
        </div>
        <div class="row justify-content-center parent">
            <!-- CARD -->
            <div class="details sticky p-3 m-3 text-center col-sm-3">
                <h5>
                    <i style="color:#2ECC40" class="fas fa-dollar-sign"></i>
                    <%= @bike.price.to_i %> / hr</h5>
                <hr>
                <h5> <i style="color:#036CE7" class="fas fa-globe-asia"></i> Find me at:</h5>
                <h6>
                    <%= @bike.address  %>
                </h6>
                <hr>
                <h5>Rating <i style="color:#FF851B" class="far fa-star"></i> / 5</h5>
                <h6>
                    <% if @bike.rating == 0 %>
                    Bike has no reviews
                    <% else %>
                    <%= @bike.rating %> / 5 </h6>
                <% end %>
                <hr>
                <%= link_to "Ride!", new_bike_booking_path(@bike), class:" btn-lg btn-primary" %>
            </div>
            <!--DESCRIPTION-->
            <div class="content col-8 ">
                <div class="description p-3 m-3">
                    <h5><strong>Description</strong> <i class=" ml-5 fas fa-bicycle"></i> </h5>
                    <hr>
                    <%= @bike.description  %>
                </div>
                <!--       Booking Form -->
                <div class="description p-3 m-3" id='bike-booking-dates' data-unavailable="<%= @bike.unavailable_dates.to_json %>">
                    <% unless current_user.nil? %>
                    <% if current_user.id != @bike.user_id  %>
                    <h5><strong>Book
                            <%= @bike.name  %></strong></h5>
                    <%= simple_form_for([@bike, @booking]) do |f| %>
                    <%= f.input :from, as: :string, type: :text %>
                    <%= f.input :till, as: :string, type: :text %>
                    <%= f.submit "Book", class: "btn btn-primary" %>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
                <!-- REVIEWS IF BOOKED -->
                <div class="review-form p-3 m-3">
                    <% @bike.bookings.each do |booking| %>
                    <% unless current_user.nil? %>
                    <% if booking.user_id == current_user.id %>
                    <h5><strong>Last booking
                            <%= booking.from.strftime("%d/%-m/%Y") %></strong></h5>
                    <hr>
                    <h4>Add a Review</h4>
                    <%= simple_form_for([booking, @review], remote: true) do |f| %>
                    <%= f.input :content, placeholder: 'How was your ride ?', required: true  %>
                    <%= f.input :rating, placeholder: 'Score 1 - 5', input_html: { min: '1', max: '5' }, required: true  %>
                    <%= f.submit class: "btn btn-primary" %>
                    <% end %>
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
                <!-- REVIEWS -->
                <div class="reviews p-3 m-3">
                    <h5><strong>Reviews</strong></h5>
                    <hr>
                    <% @bike.reviews.reverse.each do |review| %>
                    <div class="single-review"id="review-<%= review.id %>">
                        <div class="card text-white bg-secondary mb-3 p-3">
                            <h5>Comment</h5>
                            <p>
                                <%= review.content %>
                            </p>
                            <h5>Rating</h5>
                            <h5>
                                <%= review.rating.to_i %> / 5</h5>
                                <div class="text-right">
                                <% if review.booking.user_id == current_user.id %>
                                <%= link_to "", review_path(review), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: " btn btn-outline-danger fas fa-trash-alt" %>
                                <% end %>

                                </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
